.back {
  margin-bottom:10px;
}

p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.big {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  font-size: 20px;
}
.sales {
  color:red;
  padding-right: 124px;
  margin-top: 5px;
  font-size: 14.5px;
}

.container {
  text-align: center;
  margin-top: 650px;
}
