.back {
  margin-bottom:10px;
}

p {
  font-family:verdana;
  margin-top:0;
  margin-bottom:0;
}

.htmlheading {
  font-weight: bold;

}
.slogan {
  color: grey;
  margin-top:2px;
}
.description {
margin-top: 20px;
margin-bottom: 20px;
}
.calltoaction {
  background-color: green;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  border:none;
  font-size:14px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.calltoaction:hover {
  opacity: 0.8;
}
.container {
  text-align: center;
  margin-top: 650px;
}
