.back {
  margin-bottom:10px;
}

p {
  margin-top:0px;
  margin-bottom:0px;
  font-family: Arial;
  text-align: center;
}

.heading {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 14px;
}

.catch {
  font-size: 12.5px;
  margin-bottom: 14px;
}

span {
  color:rgba(26, 57, 232, 0.664);
  font-weight: bold;
  font-size: 12.5px;
  cursor:pointer;
}

span:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin-top: 650px;
}